<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>


		<!-- com.microsoft.sqlserver.jdbc.SQLServerDriver -->
		<!-- <property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
			<property name="connection.url">jdbc:mysql://localhost:3306/hello-world</property> 
			<property name="connection.username">root</property> <property name="connection.password">password</property> -->

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://localhost\MISQLEXPRESS:1433;DatabaseName=jBancoDatos_BancoDatos</property>
		<property name="connection.username">web</property>
		<property name="connection.password">webweb</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Use XML-based mapping metadata -->
		<!-- <mapping resource="domain/Message.hbm.xml"/> -->

		<!-- Use Annotation-based mapping metadata, ruta a la clase package: entity.Message -->
		<mapping class="entity.Message" />

	</session-factory>
</hibernate-configuration>















